@import "tailwindcss";
@media print {
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  /* #print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: white;
    overflow: hidden;
  } */

  .no-print {
    display: none !important;
  }
}
