@import "tailwindcss";
@media print {
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;   /* instead of mm */
    height: 100vh;
    background: white;
    overflow: hidden;
    /* -webkit-print-color-adjust: exact; important for colors */
  }

  .no-print {
    display: none !important;
  }
}
